name: DevOps Journey CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-ci:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run test command
      run: echo "Тесты прошли успешно!"
